@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #EDF1F4;
    font-family: 'Nunito Sans', sans-serif;
    
}


.container {
        border-radius: 30px;
        background: linear-gradient(151deg, rgba(239,243,246,1) 0%, rgba(219,224,230,1) 100%); 
        box-shadow:  41px 41px 82px #c9cdcf,
                    -41px -41px 82px #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* Ratio : 16/9 */
        width: 492px;
        height: 875px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1.3fr 60px 2fr;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-template-areas: "title title"
                             "moneysvg transaction"
                             "cardtitle cardtitle"
                             "card card"
}

.title {
    grid-area: title;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #63696E;
    font-size: 20px;

}

sub {
    color: #C5D1E0;
}


.transac {
    grid-area: transaction;
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background: linear-gradient(151deg, rgba(239,243,246,1) 0%, rgba(219,224,230,1) 100%); box-shadow:  5px 5px 10px #c9cdcf,
             -5px -5px 10px #ffffff;
             margin-top: auto;
             margin-bottom: auto;
}


table {
    width: 90%;
    margin:auto;
    margin-top: 5px;
    height: 85%;
    font-family: 'Nunito Sans', sans-serif;
    color: #63696E;
    border-collapse: collapse;
    box-shadow: inset 6px 6px 12px #d5dae0,
    inset -6px -6px 12px #e3e8ee;
    border-radius: 10px;
}

td {
    width: 100%;
    text-align: center;
}

.montant {
    width: 25%;
}

.positif {
    color: green;
}

.négatif {
    color: red;
}

.source {
    width: 75%;
}

.moneysvg {
    grid-area: moneysvg;
    width: 75%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
}

.moneynumb {
    margin-top: 230px;
    line-height: 5px;
    text-align: center;
    grid-area: moneysvg;
    color: #2F353A;
}

.cardtitle {
    grid-area: cardtitle;
    text-align: center;
    margin-top: auto;
    color: #63696E;
    font-size: 20px;

}

.cardselector {
    color: #C5CAD2;
    grid-area: card;
}

.cardselectortxt {
    text-align: center;
    margin-top: 0px;
}

.left {
    margin-right: 30px;
}

.right {
    margin-left: 30px;
}


.card {
    z-index: 1;
    grid-area: card;
    margin: auto;
    width: 420px;
    height: 260px;
    border-radius: 20px;
    background: linear-gradient(151deg, rgba(239,243,246,1) 0%, rgba(219,224,230,1) 100%); box-shadow:  5px 5px 10px #c9cdcf,
             -5px -5px 10px #ffffff;
             margin-top: auto;
             margin-bottom: auto;
}


.visacontainer {
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    z-index: 2;
    width: 95px;
    height: 50px;
    border-radius: 15px 0px 15px 0px;
    background: linear-gradient(151deg, rgba(239,243,246,1) 0%, rgba(219,224,230,1) 100%); 
    /* box-shadow:  5px 5px 10px #c9cdcf,
                 -5px -5px 10px #ffffff; */
    /* box-shadow: inset 3px 3px 9px #c2c6c8, 
    inset -3px -3px 9px #ffffff; */
    background: #EDF1F4;
box-shadow: inset 3px 3px 2px #dce0e3,
inset -3px -3px 2px #feffff;
}

.visa {
    opacity: 0.8;
    margin-top: 15px;
    z-index: 3;
    width: 70%;
}

.cardnumbertxt {
    color: #C5D1E0;
    margin-left: 70px;
    line-height: 0px;
    margin-bottom: -20px;
}
.line {
    display: inline-flex;
    margin-top: 60px;
    width: 100%;
}

.right-page {
    margin-top: -25px;
    margin-right: 15px;
    float: right;
    width: 15px;
}

.cardnumber {
    color: #485057;
    margin:auto;
    letter-spacing: 7px;
    line-height: 0px;
}


.line2 {
    margin-top: 20px;
    display: inline-flex;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 5px;
}
.cardholder {
    color: #C5D1E0;
}

.cardholdername {
    color: #485057;
}

.expiration {
    margin-left: 150px;
}

.exp {
    color: #C5D1E0;
}

.expirationdate {
    color: #485057;
}

.crypto {
    margin-left: 30px;
}

.ccvtitle {
    color: #C5D1E0;
}

.ccvnumb {
    color: #485057;
}

.line3 {
    grid-area: copyright;
    height: 100%;
}

ul {
    color: #63696E;
    display: flex;
    margin: auto;
    justify-content: space-around;
    list-style: none;
}
